/* 預設 *//* #region */

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei';    
}

body{
    background-color: #FEFDF7;
}

a{
    text-decoration: none;
    color: #4c5f79;
}

/* #endregion */


/* header *//*#region*/

header{
    background-color: #98B5D1;
    padding: 0px 13%;
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;  
    position: sticky;
    top:0; 
    z-index: 50;
}

.header{
    display: flex;
    flex-direction: row;    
    align-items: center;
}

/* nav */

.nav_main{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.nav_main a:hover{
    background-color: #5f7e99;
}


/* 首頁/產品一覽 */
.nav{
    display: flex; 
    align-items: center;
    flex-direction: column;  
    color: white;
    padding:0 5px;      
    font-weight: bold;
    font-size: 16px;
}

.nav img{
    width: 30px; 
    height: 30px; 
    padding: 5px;
}

.nav a{
    width: 90px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 15px 0px;
}

/* line/購物車/會員 */
.nav2 a{
    display: flex;
    justify-content: center;
    height: 35px;
    width: 35px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}

.nav2 img{
    width: 30px; 
    height: 30px; 
    padding: 3px;
}

/*#endregion*/

/* 路徑 *//*#region*/

.path{
    display: flex;
    padding: 1px 13%;
    margin-bottom: 0;
    background-color: #e6eeef;
    position: sticky;
    top:91px; 
    z-index: 50;       
}

.path p{
    margin: 5px;
    margin-bottom: 10px;
    color: rgb(137, 139, 142);
    text-decoration: none;
    font-weight: bold;
}

.path a{
    margin: 5px;
    margin-bottom: 10px;
    color: rgb(80, 119, 158);
    text-decoration: none;
    font-weight: bold;
}

.path a:hover{
    color: #8bb5c2;
}

/*#endregion*/


/* title *//* #region */

.main_title{
    margin: 10px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-size: 28px;
    font-weight: bolder;
    border-bottom: solid #c4d5e1 5px;
    color:#4e657a;
}

.main_title p{
    padding: 10px 30px;
}

.main_title img{
    width: 60px; 
    height: 60px; 
    padding:5px 15px;
}

/*#endregion*/


/* 內容 *//* #region */

    #main{
        margin: 80px 15%;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 2px 2px 10px #bec0c1; 
    }

    .main{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* 內標題 */

    .title{
        display: flex;
        align-items: center;
        font-weight: bolder;
        font-size: 22px;
        color: #4c5f79;
    }

    .title img{
        width: 40px;
        margin: 15px;
    }


    /* 欄位內容 */
    .div{
        width: 40%;
        margin: 10px 0;
        padding: 15px 30px;
        font-weight: bolder;
        font-size: 22px;
        color: #5f7e99;
        margin:5px 15px;
    }


    /* 輸入框設定 */
    .text{
        width: 100%;
        padding: 10px;
        margin: 15px;
        border:solid 1px #a3b1c5;
        border-radius: 8px;
        font-size: 16px;
    }


    /* 登入的button及去註冊 */

    .button{
        font-size: 20px;
        margin: 20px 0  50px 0;
        width: 150px;
        padding: 8px ;
        text-decoration: none;
        display: flex;
        justify-content: center;
        background-color: white;
        color: #4c5f79;
        font-weight: bolder;
        border: solid #ccdbe7 2px;
        border-radius: 50px;    
    }

    .button:hover{
        background-color: #97a7c5;
        color: white;
    }

    #goreg{
        display: flex;
        align-items: center; 
        margin: 10px;   
    }

    #goreg p{
        font-size: 20px;
        margin: 20px 30px  50px 30px;
        padding: 8px ;
        text-decoration: underline;
        color: #7e9bb7;
    }

    #goreg p:hover{
        color: #8fc1d6;
        font-weight: bolder;
    }


/*#endregion*/


/* footer */

footer{
    background-color: #98B5D1;
    padding: 18px 15%;
    display: flex;
    justify-content: center;  
    color: white;
    font-weight: bold;
    font-size: 14px;
}
